<%
    // 模板规范：需要输出 HTML 或 JSON 的地方，用 "<%="；否则一律用 "<%-"

    var opt = htmlWebpackPlugin.options;
    var files = htmlWebpackPlugin.files;
%><!doctype html>
<title><%- opt.title %></title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<% if(opt.faviconUrl) { %>
<link rel="shortcut icon" href="<%- opt.faviconUrl %>" type="image/png" />
<% } %>

<% for(var i in files.css){ %><link rel="stylesheet" href="<%- files.css[i] %>" /><% } %>

<body>
    <div id="root"></div>
</body>

<% for(var i in files.js) { %><script src="<%- files.js[i] %>"></script><% } %>

<% if(opt.baiduTongjiCode) { %>
<script>
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement('script');
    hm.src = '//hm.baidu.com/hm.js?<%- opt.baiduTongjiCode %>';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(hm, s);
})();
</script>
<% } %>
